
h1 {
	text-align: center;
	color: navy;
}

#container {
	background-color:  cornflowerblue;
    height: 36em;
    width: 55em;
	margin: auto;
	padding: 0em 5em;
	overflow: auto;
	overflow-wrap: break-word;
    font-size: 1.2em;
    text-align: center;
    border-radius: 1em;
    border: 2px solid black;
}

.input-field {
	height: 2em;
	font-size: 1em;
	margin-top: 2em;
	border-radius: 8px;
}

button {
	width: 6em;
	height: 2em;
	padding-top:50px;
	color: white;
	background-color: navy;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	outline: none;
	border: none;
}

#button:active {
	background-color:  cornflowerblue;
	border: 1px solid white;
}

em {
   color: rgb(60, 60, 60);
   padding:20px;
}

#output-display {
	color: white;
}
